.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: "Roboto";
}
.wrapper {
margin-bottom: 2rem;
}
.executive-summary {
  text-align: left;
  font: normal normal normal 18px/28px Roboto;
  letter-spacing: 0.18px;
  color: #000000;
  opacity: 1;
  font-size: 18px;
  margin-top: 1.2rem;
  
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: -100px; */
  height: 571px;
}
.hero-text {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  max-width: 890px;
  max-height: 171px;
}
.app-bar {
  background-color: #000 !important;
}

.annotation {
  font-size: 12px;
  text-align: left;
  font: normal normal normal 12px/15px Roboto;
  letter-spacing: 0.12px;
  opacity: 1;
}
.annotation-line {
  margin: 24px 0;
  width: 17%;
}
.methodology {
  background-color: #dfefee;
}
.creative-quote {
  font-style: italic;
  color: #0070c9;
  line-height: 30px;
	margin-top: -4.5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(31,78,121,1);
	letter-spacing: 0.1px;
}
.countries {
margin: 10px 0;
font-size: 18px;
}
.figures {
  text-align: left;
  font: normal normal medium 50px/21px Roboto;
  letter-spacing: 0px;
  color: #1F4E79;
  opacity: 1;
  font-weight: bold;
}
.profile-text{
  text-align: left;
  font: normal normal normal 18px/21px Roboto;
  letter-spacing: 0.18px;
  color: #000000;
  opacity: 1;
  margin-bottom: 1rem;
}
.sector-heading{
  text-align: left;
  font: normal normal medium 21px/28px Roboto;
  letter-spacing: 0.21px;
  color: #000000;
  font-weight: bold;
}
.header {
  white-space: nowrap;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(0,0,0,1);
  letter-spacing: 0.1px;
  padding-top: 1.2rem;
}

.Placeholder_for_Buyer_quote_1 {
    background-color: #ff0;
    overflow: visible;
    line-height: 30px;
    padding:0 5px 0 5px;
    text-align: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: rgba(31,78,121,1);
    letter-spacing: 0.1px;
    left: 830px;
    top: 300.5px;
    width: 321px;
	  height: 283px;
}