q.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: "Roboto";
}
.executive-summary {
  text-align: left;
  font: normal normal normal 18px/28px Roboto;
  letter-spacing: 0.18px;
  color: #000000;
  opacity: 1;
  font-size: 18px;
  margin-top: 2rem;
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: -100px; */
  height: 571px;
}
.hero-text {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  max-width: 890px;
  max-height: 171px;
}
.app-bar {
  background-color: #000 !important;
}

.annotation {
  font-size: 12px;
  text-align: left;
  font: normal normal normal 12px/15px Roboto;
  letter-spacing: 0.12px;
  opacity: 1;
}
.annotation-line {
  margin: 24px 0;
  width: 17%;
}
.methodology {
  background-color: #dfefee;
}
.creaive-quote {
  font-style: italic;
  color: #0070c9;
}
.countries {
margin: 10px 0;
font-size: 18px;
}
.figures {
  text-align: left;
  font: normal normal medium 50px/21px Roboto;
  letter-spacing: 0px;
  color: #1F4E79;
  opacity: 1;
  font-weight: bold;
}
.profile-text{
  text-align: left;
  font: normal normal normal 18px/21px Roboto;
  letter-spacing: 0.18px;
  color: #000000;
  opacity: 1;
  margin-bottom: 1rem;
}
.sector-heading{
  text-align: left;
  font: normal normal medium 21px/28px Roboto;
  letter-spacing: 0.21px;
  color: #000000;
  font-weight: bold;
}
